@model StdBlog.Models.m_Blog
@{
    ViewBag.Title = "Modify";
    Layout = "~/Views/m_User/_UserLayout.cshtml";
}

@using (Html.BeginForm())
{
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)


        <div class="input-group" style="margin:20px">
            <span class="input-group-addon" id="basic-addon3">Title</span>
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", placeholder = "Input your title", id = "title",name = "title",type = "text" } })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" class="form-control" id = "fc" name="fc"/>
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>


        @Styles.Render("~/Content/umeditor/themes/default/css/umeditor.css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Content/umeditor/umeditor.config.js")
        @Scripts.Render("~/Content/umeditor/umeditor.min.js")
        @Scripts.Render("~/Content/umeditor/lang/zh-cn/zh-cn.js")
        <script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
            <p>@(new HtmlString(Model.content))</p>
        </script>



        <div style="margin:20px">
            <input class="btn btn-success" type="submit" value="Save"  onclick="bsClicked()" id="bs" />
        </div>






    <script type="text/javascript">
        var um = UM.getEditor('myEditor');
        function bsClicked() {
            document.getElementById("fc").value = UM.getEditor('myEditor').getContent();
            document.getElementById("bs").submit();
        }
    </script>
}
@Scripts.Render("~/bundles/bootstrap")