@model StdBlog.Models.m_recblog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/m_Admin/_AdminLayout_rb.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>m_recblog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pushtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pushtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deletetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deletetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blogid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogid)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
