@model StdBlog.Models.m_recblog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/m_Admin/_AdminLayout_rb.cshtml";
}

<h2>Details</h2>

<div>
    <h4>m_recblog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pushtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pushtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deletetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deletetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blogid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
